@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color: #09090A;
    color: white;
    height: 100vh;
}

button {
    padding: 16px 24px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #8B5CF6;
    border-radius: 8px;
    gap: 12px;
    cursor: pointer;

    display: flex;
    align-items: center;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 48px;
    position: fixed;
    background-color: #09090A;
    width: 100%;
}

input {
    appearance: none;
    -webkit-appearance: none;

    width: 32px;
    height: 32px;

    border: 2px solid #27272A;
    border-radius: 8px;
}

input:checked {
    background-color: #8B5CF6;
    border: 2px solid #A78BFA;
    border-radius: 8px;
}

#form-habits {
    display: flex;
    padding: 182px 20px 100px 20px;
    width: fit-content;
}

.days {
    display: flex;
    
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.day div {
    color: #A1A1AA;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    margin: 6px;
    line-height: 125%;
    margin-bottom: 16px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.habits {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 46px;
}

.habit {
    
    width:32px;
    height: 32px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
}

@media (max-width: 650px) {
    button div {
        display: none;
    }
}